.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    padding: 20px;
    width: 100%;
}

.form-container {
    border: 2px solid gray;
    border-radius: 15px;
    width: 50%;
}

.list-container {
    width: 50%;
    margin-top: 40px;
    margin-left: 40px;
}